apiVersion: apps/v1
kind: Deployment
metadata:
  name: instant-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: ankithalg609/instant_backend:v2
        ports:
        - containerPort: 8000
        envFrom:
        - secretRef:
            name: backend-secret

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
  - port: 8000
    targetPort: 8000
  type: ClusterIP
