version: "3.9"

services:
  backend:
    build: ./backend
    container_name: instant_backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: instant_frontend
    ports:
      - "9000:80"
    depends_on:
      - backend
